.word {
  display: inline-block;
  font-weight: calc(400 + var(--dist, 0) * 200);
  letter-spacing: calc(0.025em * var(--dist, 0));
  transform: scale(calc(1 + 0.05 * var(--dist, 0)));
  transform-origin: bottom left;
}
