@media (prefers-reduced-motion: no-preference) and (width >= 96rem) {
  .contactCard {
    animation:
      scaleUp linear both,
      opacityUp linear both;
    animation-timing-function: linear, ease-in;
    animation-timeline: view(), view();
    animation-range:
      cover 30% cover 50%,
      entry 50% entry 100%;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.97);
  }
  to {
    transform: scale(1.03);
  }
}
@keyframes opacityUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
