@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* 🖥️ */
  --breakpoint-xs: 23rem;
  --breakpoint-3xl: 87.5rem;

  /* 🖊️ */
  --font-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-kanit: var(--font-kanit);
  --font-style-script: var(--font-style-script);
  --font-dancing-script: var(--font-dancing-script);
  --font-montserrat: var(--font-montserrat);
  --font-faustina: var(--font-faustina);
  --font-fraunces: var(--font-fraunces);
  --font-sarina: var(--font-sarina);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  /* 🎨 COLORS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-background-dark: var(--background-dark);
  --color-surface-dark: var(--surface-dark);
  --color-foreground-dark: var(--foreground-dark);

  /* 🟠 Primary */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-orange-red: var(--orange-red);
  --color-primary-lighter: var(--primary-lighter);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* 🤹 Animations */
  --animate-aurora-text-background: aurora-text-background 8s ease-in-out
    infinite alternate;

  --animate-aurora: aurora 60s linear infinite;

  --animate-progress-bar: progress-bar 5s linear infinite;

  --animate-pulse-shadow: pulse-shadow 10s ease-in-out infinite;

  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite
    alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;

  --animate-blur-glow: blur-glow 10s ease-in-out infinite;

  --animate-focus-shadow: focus-shadow 2s ease-out forwards;
  @keyframes aurora-text-background {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
  @keyframes progress-bar {
    0% {
      width: 7%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes pulse-shadow {
    0%,
    100% {
      box-shadow: 0 4px 64px 0px var(--shadow-pulse-start);
    }
    50% {
      box-shadow: 0 4px 82px 4px var(--shadow-pulse-peak);
    }
  }
  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
  @keyframes blur-glow {
    0%,
    100% {
      filter: blur(2px);
    }
    50% {
      filter: blur(8px);
    }
  }
  @keyframes focus-shadow {
    0% {
      box-shadow: 0 0 0 0 oklch(0.7363 0.1697 61.12 / 0);
    }
    15% {
      box-shadow: 0 0 20px 4px oklch(0.7363 0.1697 61.12 / 0.5);
    }
    100% {
      box-shadow: 0 0 0 0 oklch(0.7363 0.1697 61.12 / 0);
    }
  }
}

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --background-dark: oklch(16.07% 0.005353089191364578 67.43199692148829);
  --surface-dark: lab(5.25845% 0.798501 1.4431);
  --foreground-dark: lab(98.2748% 0.282407 1.88136);

  --orange-red: oklch(67.83% 0.21534036616300026 38.815041935570434);
  --primary: oklch(0.7363 0.1697 61.12); /* #F48C06 */
  --primary-lighter: oklch(0.8568 0.1635 86.22); /*  #FFC731 */
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0 0 0);
  --secondary-foreground: oklch(1 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.7088 0 302.32);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: var(--primary);

  --shadow-pulse-start: color-mix(in oklch, var(--primary), transparent 50%);
  --shadow-pulse-peak: color-mix(in oklch, var(--primary), transparent 30%);

  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    overflow: hidden;
  }
  html[data-fonts-ready="true"] {
    overflow: auto;
  }
}

@utility bg-dotted-zinc {
  background-image:
    radial-gradient(circle, #141415, transparent 2px),
    linear-gradient(
      to bottom right,
      var(--color-zinc-950),
      var(--color-zinc-900)
    );
  background-repeat: repeat;
  background-size:
    13px 13px,
    100% 100%;
}

@utility laser-shadow {
  box-shadow:
    0 0 0 1px #f6821f,
    0 0 12px 1px rgba(246, 130, 31, 0.75),
    0 0 32px 4px rgba(246, 130, 31, 0.45),
    0 0 60px 10px rgba(246, 130, 31, 0.22),
    inset 0 0 8px 0 rgba(246, 130, 31, 0.6),
    inset 0 0 20px 2px rgba(246, 130, 31, 0.3);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-property: box-shadow;
}
