.button {
    --accent: #ff6900;
    --accent-secondary: #a94000;
    position: relative;
    padding: 10px 12px;
    color: white;
    cursor: pointer;
    background:
        radial-gradient(ellipse at -20px top, #ffffff38, #fff0),
        linear-gradient(180deg, var(--accent), var(--accent-secondary));
    border-radius: 10px;
    transition:
        filter 0.15s ease-out,
        box-shadow 0.15s ease-out;

    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.button:hover {
    filter: brightness(1.08) saturate(1.04);
}

.button::after {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    background: linear-gradient(180deg, #ffffffb8, #0000003d 41% 75%, #ffffff47)
        border-box;
    border: 1.5px solid transparent;
    border-radius: inherit;
    mix-blend-mode: overlay;
    mask:
        linear-gradient(black, black) padding-box,
        linear-gradient(black, black);
    mask-composite: exclude;
}
