.navbarEntry {
  animation-name: navbar-reveal;
  animation-duration: 850ms;
  animation-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  animation-delay: 500ms;
  animation-fill-mode: both;
}

@keyframes navbar-reveal {
  from {
    transform: translate(0px, -16px);
    opacity: 0;
  }

  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

/* ↔️ */
.navbarExpanded {
  animation: on-scroll-expanded linear both;
  animation-timeline: scroll(root);
  animation-range: 0px 1px;
  width: 95vw;
}

@keyframes on-scroll-expanded {
  from {
    display: flex;
  }

  to {
    display: none;
  }
}

/* ➡️⬅️ */
.navbarCollapsed {
  background-color: oklab(0.999994 0.0000455677 0.0000200868 / 0.6) !important;
  padding: 6px 8px 6px 24px;
  animation:
    on-scroll-collapsed linear both,
    on-scroll-collapsed-appear linear both;
  animation-timeline: scroll(root), scroll(root);
  animation-range:
    0px 150px,
    0px 1px;
}

@keyframes on-scroll-collapsed-appear {
  from {
    display: none;
  }

  to {
    display: flex;
  }
}

@keyframes on-scroll-collapsed {
  from {
    transform: translateY(10px);
    width: 95vw;
  }

  to {
    transform: translateY(25px);
    width: min(1200px, 80vw);
  }
}
